<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Category</title>
    <link rel="stylesheet" href="/styles/formStyle.css">
    <script src="/showImage.js" defer></script>
</head>
<body>
    <form action="add-category" method="POST" enctype="multipart/form-data">
        <label for="category">Add category: </label>
        <input type="text" name="categoryname" id="categoryname" required>

        <label for="image">Image (PNG, JPEG): </label>
        <input type="file" name="image" id="image" required>

        <img id="dummy" src="">

        <button type="submit">Submit</button>
        <a href="/categories">Go Back</a>
    </form>
</body>
</html>