<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <h1>Categories</h1>
    <div class="group">
        <% categories.forEach(category => { %>
            <div class="card">
                <img src="images/<%= category.categorypath %>">
                <a href="/categories/<%= category.categoryname %>"><%= category.categoryname %></a>
            </div>
        <% }) %>
    </div>
    <a href="/categories/add-category">Add Category</a>
    <a href="../">Go Back</a>
</body>
</html>