<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
</head>
<body>
    <h1>Categories</h1>
    <% categories.forEach(category => { %>
        <div>
            <button type="button" onClick="location.href='categories/<%= category.categoryname %>'"><%= category.categoryname %></button>
        </div>
    <% }) %>
    <button type="button" onClick="location.href='categories/add-category'">Add category</button>
</body>
</html>