<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Categories</h1>
    <div class="categories">
        <% categories.forEach(category => { %>
            <div class="card">
                <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQtrY17ssVN2wXeGjuBL8nEH9T8NdhRIff5hNZB_8f7xwt5xksskKUsW1RUrQnDu07AsVrtn5pj9zb5afE3PDVUag">
                <a href="/categories/<%= category.categoryname %>"><%= category.categoryname %></a>
            </div>
        <% }) %>
    </div>
    <a href="/categories/add-category">Add Category</a>
    <a href="../">Go Back</a>
</body>
</html>