<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Companies</title>
</head>
<body>
    <h1>Companies</h1>
    <% companies.forEach(company => { %>
        <div>
            <a href="companies/<%= company.companyname %>"><%= company.companyname %></a>
        </div>
    <% }) %>
    <a href="companies/add-company">Add Company</a>
    <a href="../">Go Back</a>
</body>
</html>