<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Companies</title>
</head>
<body>
    <h1>Companies</h1>
    <% companies.forEach(company => { %>
        <div>
            <button type="text" onClick="location.href += '/<%= company.companyname %>'"><%= company.companyname %></button>
        </div>
    <% }) %>
    <button type="text" onClick="location.href += '/add-company'">Add Company</button>
</body>
</html>