<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Item</title>
</head>
<body>
    <form action="delete-item" method="POST">
        <label for="item">Delete Item: </label>
        <input type="text" name="item" id="item" value="<%= groceryname %>" readonly>
        <button type="submit">Submit</button>
    </form>
</body>
</html>