<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Category</title>
</head>
<body>
    <form action="delete-category" method="POST">
        <label for="categoryname">Category: </label>
        <input type="text" name="categoryname" id="categoryname" value="<%= categoryname %>" readonly>
        <button type="submit">Submit</button>
        <a href="/<%= link %>">Go Back</a>
    </form>
</body>
</html>