<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= group %></title>
</head>
<body>
    <% groceries.forEach(grocery => { %>
        <div>
            <button type="button" onClick="location.href += '/<%= grocery.groceryname %>'"><%= grocery.groceryname %></button>
        </div>
    <% }) %>
    <button type="button" onClick="location.href += '/add-item'">Add Item</button>
</body>
</html>