<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dullmart</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header">
        <h1>Dullmart</h1>
    </div>
    <div class="main">
        <button type="button" onClick="location.href='/categories'">Categories</button>
        <button type="button" onClick="location.href='/companies'">Companies</button>
    </div>
</body>
</html>