<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= item.groceryname %></title>
</head>
<body>
    <p><%= item.groceryname %></p>
    <a href="<%= item.groceryname %>/delete-item">Delete Item</a>
    <a href="../">Go Back</a>
</body>
</html>