* {
    /* margin: 0; */
    font-family: sans-serif;
}

.group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    border: 1px solid black;
    padding: 10px;
    gap: 10px;
}

.card > img, .item > img {
    object-fit: contain;
}

.card > img {
    height: 250px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.item {
    display: flex;
    gap: 30px;
}

.item > img {
    width: 30vw;
    height: auto;
}